ul{
    display:flex;
    justify-content: flex-end;
    gap: 25px;
    text-decoration:none;
    
}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.mi{
    display: flex;
    justify-content: center;
}
img {
    border-radius: 100%;
}
.logo{
    font-size: 50px;
    display: flex;
    justify-content: start;
    padding: 15px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
background-color: rgba(177, 164, 134, 0.929);background-color: rgba(177, 164, 134, 0.929);
}
.menu{
    display: flex;
    justify-content:flex-end;
   
}
header{
    display: flex ;
    justify-content: space-between;
    align-items: center;

}
