
ul{
    display:flex;
    justify-content: flex-end;
    gap: 25px;
    text-decoration:none;
}
.avatar{
display:flex;
justify-content: center;
}

.menu a{
    text-decoration: none;
    color: black;
}
